<component name="libraryTable">
  <library name="logback-classic-1.2.6">
    <CLASSES>
      <root url="jar://$PROJECT_DIR$/../Java-Libs/logback/1.2.6/logback-core-1.2.6.jar!/" />
      <root url="jar://$PROJECT_DIR$/../Java-Libs/logback/1.2.6/logback-classic-1.2.6.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>